{% extends 'base.html' %}

{% block title %}Редактировать объявление{% endblock %}

{% block content %}
    <header>
        <h1>Создание новой квартиры</h1>
    </header>
    <div class="container">
        <h2>Добавьте информацию о квартире</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <ul>
            <!-- Этаж квартиры -->
            <label for="floor_app">Этаж:</label>
            <input type="number" id="floor_app" name="floor_app" placeholder="Введите этаж" required>
            </ul>
            <ul>
            <!-- Район -->
            <label for="district">Район:</label>
            <select id="district" name="district" required>
                {% for district in districts %}
                    <option value="{{ district.id }}">{{ district }}</option>
                {% endfor %}
            </select>
            </ul>
            <ul>
            <!-- Площадь квартиры -->
            <label for="area">Площадь (кв.м.):</label>
            <input type="number" id="area" name="area" placeholder="Введите площадь" required>
            </ul>
            <ul>
            <!-- Количество комнат -->
            <label for="room_quantity">Количество комнат:</label>
            <input type="number" id="room_quantity" name="room_quantity" placeholder="Введите количество комнат" required>
            </ul>
            <ul>
            <!-- Адрес квартиры -->
            <label for="address">Адрес:</label>
            <input type="text" id="address" name="address" placeholder="Введите адрес квартиры" required>
            </ul>
            <ul>
            <!-- Описание квартиры -->
            <label for="description">Описание:</label>
            <textarea id="description" name="description" rows="5" placeholder="Введите описание" required></textarea>
            </ul>
            <ul>
            <input type="submit" value="Создать квартиру" class="send_btn">
            </ul>
        </form>
    </div>
    <a href="{% url 'index_page' %}" class="btn_back">Вернуться на главную</a>
    {% endblock %}
