{% extends 'base.html' %}

{% block title %}Редактировать объявление{% endblock %}

{% block content %}
    <header>
        <h1>Создание объявления</h1>
    </header>
    <div class="container">
        <h2>Добавьте новое объявление</h2>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            
            <ul>
            <!-- Цена -->
            <label for="price">Цена (₽):</label>
            <input type="number" id="price" name="price" placeholder="Введите цену" required>
            </ul>
            <ul>
            <!-- Владелец -->
            <label for="own">Ваше имя:</label>
            <input type="text" id="own" name="own" placeholder="Введите имя" required>
            </ul>
            <ul>
            <!-- Возможность ипотеки -->
            <label for="mortgage">Ипотека:</label>
            <select id="mortgage" name="mortgage">
                <option value="True">Есть</option>
                <option value="False">Нет</option>
            </select>
            </ul>
            <ul>
            <!-- Рейтинг -->
            <label for="score">Рейтинг квартиры от риелтора:</label>
            <input type="number" id="score" name="score" placeholder="Введите рейтинг" required>
            </ul>
            <ul>
            <!-- Квартира -->
            <label for="apartment">Квартира:</label>
            <select id="apartment" name="apartment">
                {% for apartment in apartments %}
                    <option value="{{ apartment.id }}">{{ apartment.address }} - {{ apartment.area }} кв.м., {{ apartment.room_quantity }} комн.</option>
                {% endfor %}
            </select>
            </ul>
            <ul>
            <!-- Изображение (пока без загрузки файлов) -->
            <label for="image">Изображение:</label>
            <input type="file" id="image" name="image" required>
            </ul>
            <ul>
            <input type="submit" value="Создать объявление" class="send_btn">
            </ul>
        </form>
    </div>
    <a href="{% url 'index_page' %}" class="btn_back">Вернуться на главную</a>
    {% endblock %}
